---
Checks: '*,
-fuchsia-*,
-google-*,
-abseil-*,
-altera-*,
-cert-err58-cpp,
-cppcoreguidelines-*,
-hicpp-vararg,
-llvm-*,
-llvmlibc-*,
-misc-non-private-member-variables-in-classes,
-modernize-pass-by-value,
-modernize-use-trailing-return-type,
-modernize-use-nodiscard,
-readability-magic-numbers,
-zircon-*,
-hicpp-avoid-c-arrays,
-modernize-avoid-c-arrays,
-readability-container-size-empty,
-hicpp-avoid-goto,
'
WarningsAsErrors: '*'
HeaderFilterRegex: '.'
